Page {
    background-color: #fff;
}

.pieCanvas {
    width: 100%;
    height: 400rpx;
}
.columnCanvas {
    width: 100%;
    height: 500rpx;
}

.nullView {
    height: 200rpx;
    line-height: 200rpx;
    text-align: center;
}
